@media (min-width: 576px) {
  .jumbotron {
    padding: 6rem 2rem 10rem 2rem;
    max-width: 120rem;
    margin-bottom: 0;
  }

  .customHeight {
    margin-top: 10vh;
  }

  .borderColor {
    border-color: 1px;
  }
}
